.bg{
    background-color: hsl(240, 33%, 99%);
    height: 100vh;
    width: 100%;
}
.light-mode{
    height: 46vh;
    width: 100%;
    background-image: url('https://gitlab.com/mountblue/js/todo-app-main/-/raw/main/images/bg-desktop-light.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.head-part{
    display: flex;
    justify-content: space-between;
    width: 49%;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.moon{
    background-image: url('https://gitlab.com/mountblue/js/todo-app-main/-/raw/main/images/icon-moon.svg');
    height: 4vh;
    width: 4%;
    background-size: cover;
}
.title{
    color: white;
    letter-spacing: 0.8rem;
    font-weight: 700;
}
.creating-secion{
    display: flex;
    width: 40%;
    align-items: center;
    height: 5vh;
    margin-bottom: 2%;
    margin-top: 1%;
}
.check-box{
    height: 100%;
    margin-right: 2%;
}
.user-input{
    height: 3vh;
    width: 96%;
    color:hsl(236, 9%, 61%);
    padding: 2%;
    font-weight: 400;
    font-size: 15px;
    outline: none;
}

.operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todos-container{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 43%;
    list-style-type:none;
}
.create-check-box{
    height: 100%;
    margin-right: 2%;
}
.each-todo{
    height: 3vh;
    width: 87%;
    background-color: white;
    padding: 2%;
    font-weight: 400;
    font-size: 15px;
    border:1px solid hsl(240, 2%, 24%);
    border-radius: 3px;
    margin: 1%;
}
.strike{
    text-decoration: line-through;
    color: hsl(240, 1%, 58%);
}
.sun{
    background-image: url('https://gitlab.com/mountblue/js/todo-app-main/-/raw/main/images/icon-sun.svg');
}
.check-box:hover, .delete-btn:hover, .moon, p{
    cursor: pointer;
}
.end-part{
    height: 2vh;
    width: 36%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    font-weight: 400;
    font-size: 14px;
    background-color:white;
    border:1px solid hsl(236, 33%, 92%);
    border-radius: 3px ;
    color: hsl(236, 9%, 61%);
    margin-left: 1rem;
}
.sub-opt{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}


.bg-dark{
    background-color: hsl(235, 24%, 19%);
    height: 100vh;
    width: 100%;
}
.dark-mode{
    height: 46vh;
    width: 100%;
    background-image: url('	https://gitlab.com/mountblue/js/todo-app-main/-/raw/main/images/bg-desktop-dark.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.user-input-dark{
    height: 3vh;
    width: 96%;
    background-color:hsl(235, 21%, 11%);
    color:hsl(236, 9%, 61%);
    padding: 2%;
    font-weight: 400;
    font-size: 15px;
    
}
.each-todo-dark{
    height: 3vh;
    width: 87%;
    background-color:hsl(235, 21%, 11%);
    padding: 2%;
    font-weight: 400;
    font-size: 15px;
    border:1px solid hsl(236, 33%, 92%);
    border-radius: 3px;
    margin: 1%;
    color: hsl(236, 33%, 92%);
}
.end-part-dark{
    height: 3vh;
    width: 36%;
    display: flex;
    align-items: center;
    padding: 1%;
    font-weight: 400;
    font-size: 14px;
    background-color:hsl(235, 21%, 11%);
    border:1px solid hsl(236, 33%, 92%);
    border-radius: 3px ;
    color: hsl(236, 33%, 92%);
    margin-left: 1rem;
}
